<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:fragment="import_styles">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/base.css}"/>
    </div>

</head>
<body>
    <div th:fragment="header" class="header">
        <nav class="navbar navbar-dark navbar-expand-lg bg-primary">

                <a href="#" class="navbar-brand" th:href="@{/home}">ПМЛ</a>
                <button class="navbar-toggler" type="button" data-target="#main-nav" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${!isSpecialist} ? disabled : ''" href="#" th:href="@{/upload}">Загрузка данных</a>
                        </li>
                        <li class="nav-item" th:classappend="${page_routes} ? active : ''">
                            <a class="nav-link" th:classappend="${!isSpecialist} ? disabled : ''" href="#" th:href="@{/routes}">Маршрутный лист</a>
                        </li>
                        <li class="nav-item" th:classappend="${page_waybill} ? active : ''">
                            <a class="nav-link" th:classappend="${!isSpecialist} ? disabled : ''" href="#" th:href="@{/waybill}">Заявки</a>
                        </li>
                        <li class="nav-item" th:classappend="${page_reports} ? active : ''" >
                            <a class="nav-link"  href="#" th:href="@{/reports}">Отчеты</a>
                        </li>
                    </ul>
                </div>


        </nav>

    </div>
    <footer th:fragment="footer" class="bg-primary">
        ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "РЕСУРС 38"
    </footer>
    <div th:fragment="scripts">
        <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    </div>
</body>
</html>