<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:fragment="import_styles">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/base.css}"/>
    </div>

</head>
<body>
    <div th:fragment="header">
        <div class="header">
            <div class="logo">
                Здесь должно быть лого
            </div>
            <div class="auth">
                <button class="btn btn-success"><a th:href="@{/login}">Войти</a></button>
                <button class="btn btn-primary"><a th:href="@{/registration}">Регистрация</a></button>
            </div>
        </div>
    </div>

    <form th:fragment="login_form" action="#" th:action="@{/login}"  method="post">
        <div class="form-group">
            <label for="username">Введите логин</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Введте логин"/>
        </div>
        <div class="form-group">
            <label for="password">Введите пароль</label>
            <input type="password" class="form-control" id="password"  name="password" placeholder="Введте пароль"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Войти</button>
            <button class="btn"><a th:href="@{/registration}">Регистрация</a></button>
        </div>


    </form>





</body>
</html>