<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:fragment="import_styles">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/base.css}"/>
    </div>

</head>
<body>
    <div th:fragment="header" class="header">

    </div>




    <div th:fragment="scripts">
        <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    </div>


</body>
</html>