<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:include="_base_template.html::import_styles"></div>
    <title>Отчет по Автомобилю</title>
</head>
<body>

    <div th:replace="_base_template.html::header"></div>
    <div class="container">
        <div class="card">

            <div class="card-header">
                <h3 th:text="${'Отчет по автомобилю: '+car.name+' '+car.number}"></h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Заказчик
                        </th>
                        <th>
                            Адрес
                        </th>
                        <th>
                            Телефон заказчика
                        </th>
                        <th>
                            дата
                        </th>
                        <th>
                            Водитель
                        </th>
                        <th>
                            Специалист
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="report: ${carReportPojos}">
                        <td th:text="${report.nameDelivery}"></td>
                        <td th:text="${report.address}"></td>
                        <td th:text="${report.phone}"></td>
                        <td th:text="${report.date}">  </td>
                        <td th:text="${report.driver}"></td>
                        <td th:text="${report.specialist}"></td>

                    </tr>
                    </tbody>
                </table>
                <a href="#" onclick="history.back();return false;" class="btn btn-success btn-md">Назад</a>
            </div>
        </div>
    </div>
    <div th:replace="_base_template.html::footer"></div>
    <div th:include="_base_template.html::scripts"></div>
</body>
</html>