<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Отчеты</title>
    <div th:include="_base_template.html::import_styles"></div>
</head>
<body>
    <div th:replace="_base_template.html::header"></div>
    <div class="container">
        <a th:href="@{/reports/waybills}" class="btn btn-success btn-md">Отчет по заказам</a>
        <a th:href="@{/reports/drivers}" class="btn btn-success btn-md">Отчет по водителям</a>
        <a th:href="@{/reports/cars}" class="btn btn-success btn-md">Отчет по автомобилям</a>
        <a th:href="@{/reports/specialists}" class="btn btn-success btn-md">Отчет по специалистам</a>

    </div>
    <div th:replace="_base_template.html::footer"></div>
    <div th:include="_base_template.html::scripts"></div>
</body>
</html>